.navbar-custom {
  background-color: #42af46;
  color: white; 
}

.navbar-custom,
.navbar-custom .nav-link {
  color: white; 
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 2px #000000;
  font-size: 17px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
  color: #d4edda; 
}

.navbar-custom .nav-link {
  margin-right: 15px;
}

.navbar-custom .navbar-toggler {
  border-color: white; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 576px) {
  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }
}

.navbar-brand.logo-style {
  margin-left: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px #000000; 
}

.navbar-brand.logo-style:hover {
  color: #d4edda;  
  text-decoration: none;
}
